*{
    margin: 0;
    padding: 0;
    outline: 0;
    overflow: hidden;
}

body{
    background-color: rgb(223, 218, 218);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1{
    margin-bottom: 200px;
    font-size: 41px;
    text-transform: uppercase;
    font-weight: 700;
}

form{
    margin: 15px 55px;
}

.box{
    margin-bottom: 200px;
}

label{
    font-size: 25px;
}

input{
    font-size: 15px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px #835757;
}

fieldset{
    background-color: #e2c1c1;
    box-shadow: 5px 5px 5px rgb(78, 57, 57);
}

.submit{
    padding: 5px 10px;
    font-size: 15px;
    background-color: #9b5b5b;
    color: rgb(248, 245, 245);
    cursor: pointer;
}

span{
    color: red;
}